<div class="container">
    <h2 class="text-center">Reportes</h2>
    <div class="contenedor">
        <div class="row row-cols-2 text-center">
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <div class="row row-cols-3">
        <div style="width: 18rem;" class="tarjetas">
            <div class="card card-stats mb-4 mb-lg-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="fas fa-chart-line"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Artículo más vendido</h5>
                            <span class="font-weight-bold mb-0 valor">{{ mejorVenta.nombreProducto }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 18rem;" class="tarjetas">
            <div class="card card-stats mb-4 mb-lg-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-frown"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Artículo menos vendido</h5>
                            <span class="font-weight-bold mb-0 valor">{{ peorVenta.nombreProducto }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 18rem;" class="tarjetas">
            <div class="card card-stats mb-4 mb-lg-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="fas fa-user-check"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Mejor cliente</h5>
                            <span class="font-weight-bold mb-0 valor">{{ mejorCliente.identificacion }} - {{ mejorCliente.nombre }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-3">
        <div style="width: 18rem;" class="tarjetas">
            <div class="card card-stats mb-4 mb-lg-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Ganancias totales</h5>
                            <span class="font-weight-bold mb-0 valor">{{ totalGanancias | currency: 'COP' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 18rem;" class="tarjetas">
            <div class="card card-stats mb-4 mb-lg-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-credit-card"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Gastos totales</h5>
                            <span class="font-weight-bold mb-0 valor">{{ totalGastado | currency: 'COP' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 18rem;" class="tarjetas">
            <div class="card card-stats mb-4 mb-lg-0 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-balance-scale-left"></i>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Pérdidas totales</h5>
                            <span class="font-weight-bold mb-0 valor">{{ getTotalPerdidas() }} | {{ reportGasto | currency: 'COP' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>