<a routerLink="/dashboard/nuevoArticulo" class="float">
    <label class="my-float">Solicitar</label>
    </a>
<div class="text-center" style="margin-top: -30px;">
    <app-loading *ngIf="loading"></app-loading>
</div>
<div class="container">
    <div class="card shadow" >
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Gestion de artículos</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="fas fa-search"></i>
                                <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let articulo of listArticulos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filtroVentasc:searchText;" >
                            <td>{{articulo.referencia}}</td>
                            <td>{{ articulo.nombre }}</td>
                            <td class="numeros">{{ articulo.cantidad }}</td>
                            <td class="numeros">{{ articulo.precio  | currency: 'COP' }}</td>
                            <td [ngClass]="articulo.estadoCompra == estado ? 'comprado': 'pendiente'">{{ articulo.estadoCompra}} </td>
                            <td>
                                <a routerLink="/dashboard/verArticulo/{{ articulo.referencia }}" class="ver" title="Ver"
                                    data-toggle="tooltip"><i class="fas fa-eye"></i></a>
                                <a (click)="eliminarArticulo(articulo.referencia)" class="eliminar" title="Eliminar"
                                    data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="listArticulos.length" [(page)]="page" [pageSize]="pageSize">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 *ngIf="listArticulos.length == 0 && loading == false">No hay artículos en el inventario, solicítalos ahora!</h3>
