<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-8 offset-lg-2">
            <div class="card text-center shadow" style="padding: 20px;">
                <div class="header">
                    <div class="volver">
                        <i class="fas fa-arrow-left back" routerLink="/dashboard/gestionClientes"></i>
                    </div>
                    <h3 class="titulo">Modificacion Cliente</h3>
                </div>
            <app-loading *ngIf="loading"></app-loading>
                <div class="form-row">
                    <div class="form-group col-md-6" style="text-align: start;">
                        <label>Identificacion:</label>
                        <input type="text" class="form-control" placeholder="Ingrese identifcacion del cliente"
                        [(ngModel)]="cliente.identificacion" readonly>
                    </div>
                    <div class="form-group col-md-6" style="text-align: start;">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre del cliente"
                        [(ngModel)]="cliente.nombre">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="text-align: start;">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" placeholder="Ingrese apellido del cliente"
                        [(ngModel)]="cliente.apellido" >
                    </div>
                    <div class="form-group col-md-6" style="text-align: start;">
                        <label>Direccion:</label>
                        <input type="text" class="form-control" placeholder="Ingrese la direccion del cliente"
                        [(ngModel)]="cliente.direccion">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="text-align: start;">
                        <label>Telefono:</label>
                        <input type="text" class="form-control" placeholder="Ingrese email del cliente"
                        [(ngModel)]="cliente.email" >
                    </div>
                    <div class="form-group col-md-6" style="text-align: start;">
                        <label>Email:</label>
                        <input type="text" class="form-control" placeholder="Ingrese la telefono del cliente"
                        [(ngModel)]="cliente.telefono">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-reg" (click)="update()">Confirmar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-reg" (click)="inactivar()" *ngIf="cliente.estadoCliente=='ACTIVO'">Inactivar</button>
                    <button class="btn btn-primary btn-reg" (click)="activar()" *ngIf="cliente.estadoCliente=='INACTIVO'">Activar</button>
                </div>
        </div>
    </div>
</div>